.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    > .form-control,
    > .form-select {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        border-right-color: transparent;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    > .form-control:focus,
    > .form-select:focus {
        z-index: 3;
    }
    .btn {
        border-color: $input-border-color;
        height: auto;
        position: relative;
        padding-left: 25px;
        padding-right: 35px;
        z-index: 2;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
        &:focus {
            z-index: 3;
        }
    }
}
