.app {
    width: 100%;
    min-width: 600px;
    min-height: 100vh;
    background: #030d44;
    transform: translate(0);
    position: relative;
    overflow: hidden;
    &:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/bg.png) top/cover no-repeat;
        z-index: -1;
    }
    &__wrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    &__bg {
        position: absolute;
        &-gradient {
            background: url(../img/gradient.png) 100% 100%/cover no-repeat;

            z-index: -1;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
        &-ball {
            background: url(../img/ball.png) top/cover no-repeat;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 26%;
            z-index: -2;
        }
    }
}