.playtable__question {
    //height: 12rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 420px;
    &-counter {
        font-size: 1.6rem;
        color: #fff;
        text-align: center;
        margin-bottom: 0.5rem;
        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
    }
    &-title {
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        flex: 1;
        @include media-breakpoint-down(md) {
            font-size: 16px;
        }
    }
}


.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}