@font-face {
    font-family: CeraPro;
    font-weight: 700;
    src: url(../fonts/CeraPro-Bold.396a5dca.woff2) format("woff2");
    font-style: normal
}

@font-face {
    font-family: CeraPro;
    font-weight: 500;
    src: url(../fonts/CeraPro-Medium.cc20796b.woff2) format("woff2");
    font-style: normal
}

@font-face {
    font-family: CeraPro;
    font-weight: 400;
    src: url(../fonts/CeraPro-Regular.cdfff11a.woff2) format("woff2");
    font-style: normal
}

@font-face {
    font-family: CeraPro;
    font-weight: 300;
    src: url(../fonts/CeraPro-Light.d8ac027a.woff2) format("woff2");
    font-style: normal
}